@charset "UTF-8";

// Module dependencies
@import "compass";

// Global variables and mixins
@import "libs/torqueui/globals/mixins_template";
@import "libs/torqueui/globals/settings";
@import "globals/settings";

//
// Set correct MS viewport
//

@-ms-viewport {
    width: device-width;
}

html.ielt9 {
    font-size: $font-large-size;
}


//
// Grid
// -----------------------------------------------------------------------------

// ==========================================================================
// Grid
// ==========================================================================

//
// Container for the a grid
//

.ielt9 .container,
.ielt9 .container.with-xlarge {
    @include clearfix;
    @include ui-grid-container-base;
    @include ui-grid-container("large");
}

//
// Row element
//

.ielt9 .row {
    @include clearfix;
    @include ui-grid-row("large");
}

.ielt9 [class*="col-"] {
    position: static;
    min-height: 1px;
    *behavior: url(/_design/common/js/required/boxsizing.htc);
}

// ==========================================================================
// Default columns
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.
// ==========================================================================

.ielt9 .container,
.ielt9 .container.with-xlarge {
    @include ui-grid-column-base("large");
    @include ui-grid-columns("large");
    @include ui-grid-offset("large");
    @include ui-grid-bleed("large");
    @include ui-grid-push("large");
    @include ui-grid-pull("large");
}


.ielt9 img.responsive {
    height: auto;
    width: 100%;
}


%button {
    width: auto;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

//
// Default button styling
//  1) Theme in theme/_theme.scss
//

.ielt9 .button {
    @extend %button;
}

//
// Primary button
//

.ielt9 .button-primary {
    @extend %button;
}

//
// Text button
//

.ielt9 .button-text {
    @extend %button;
}

.ielt9 .dropdown-menu {
    max-width: $grid-large - $grid-large-gutter;
}

.ielt9 .navbar-pull-right {
    float: right;
}
.ielt9 .navbar-pull-left {
    float: left;
}

.ielt9 .navbar-collapse,
.ielt9 .navbar-collapse.is-collapsed {
    @include ui-ie7-table-cell;
    opacity: 1;
    padding: 0;
    width: 10000000px;

    .nav {
        > li {
            @include inline-block;
            float: left;
            > a {
                float: left;
            }
        }
        &.nav-justified > li {
            @include ui-ie7-table-cell;
            width: 1%;
            float: none;
        }
    }

    > .dropdown,
    > .button {
        margin: 1px 0;
    }
}

.ielt9 {
    .marker {
        padding-left: 0!important;
        padding-right: 0!important;

        .fa-border {
            border-color: transparent!important;
        }
    }

    .dropdown-menu {
        top: 80% !important;
    }
}

.ielt9 .navbar-header {
    float: left;
}
.ielt9 .navbar-toggle {
    display: none;
}

.ielt9 .navbar-brand {
    margin: 1px 0;
}

.ielt9 .navbar .nav > .dropdown > .dropdown-menu {
    margin: 0;
    padding: 11px 0;
}

.ielt9 .nav .dropdown {
    position: relative;

    .dropdown {
        .dropdown-menu {
            display: block;
            opacity: 1;
            filter: alpha(opacity=100);
        }
        .marker {
            display: none;
        }
    }
}

.ielt9 .pager-group {
    @include inline-block;

    .button-icon,
    .button,
    .button-primary {
        width: auto;
    }
}

//
// Selector for visible classes
//

$visible-selector: ".is-visible";

.ielt9 {

    @include ui-responsive-hide("large", $visible-selector);
    //
    // Show classes for large
    //

    @include ui-responsive-show("large", $visible-selector);


    // ==========================================================================
    // Hide classes
    // ==========================================================================

    //
    // Selector for Hide classes
    //

    $hidden-selector: ".is-hidden";

    //
    // Show all hidden when not on breakpoint
    //

    @include ui-responsive-show("large", $hidden-selector);
    //
    // Hide classes for large
    //

    @include ui-responsive-hide("large", $hidden-selector);


    // ==========================================================================
    // Box-mode helpers
    // ==========================================================================

    //
    // For large
    //
    .inline-block-l,
    .is-inline-block-l,
    .is-i-b-l {
        @include inline-block;
    }

    .fullwidth-l,
    .is-block-l,
    .is-b-l {
        @include ui-block;
    }
}




// ==========================================================================
// IE9
// ==========================================================================

.ie9 {
    .form-select {
        background-image: none;
        padding-right: 1em !important;
    }
}



// ==========================================================================
// IE7
// ==========================================================================

//
// Base
//
.ie7 {
    body {
        word-wrap: normal !important;
    }
}

.ie7 {
    .logo {
        width: 50%;
    }
}


//
// Navigation
//
.ie7 {
    .navbar-collapse,
    .navbar-collapse.is-collapsed {
        width: 100%;

        .nav {
            > li {
                width: auto;
                display: block;
                padding: 0;
                > a {
                    float: none;
                    display: inline;
                    zoom: 1;
                    padding-left: 1em;
                    padding-right: 1em;
                }

                .marker {
                    float: left;
                    display: block;
                    height: 0;
                    width: 0;
                    line-height: 0;
                    font-size: 0;
                    border: 8px solid transparent;
                    border-top-width: 13px;
                    border-bottom-width: 6px;
                    margin-top: 1em;
                    margin-left: 0.5em;

                    .fa {
                        display: none !important;
                    }
                }
            }
        }
    }

    .dropdown .dropdown-menu {
        z-index: 11;
        top: 70%;
    }

    .dropdown-menu:hover {
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}


//
// Slider
//
.ie7 {
    .slider-wrap.w-slider.widget {
        a {
            display: block;
        }
    }

    .owl-carousel .owl-wrapper {
        z-index: 10;
    }
}
